In [1]:
# Import necessary libraries

import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from IPython.display import display, HTML

# Import and format data

nba_df = pd.read_csv(r'C:\Users\abelg\Documents\Programs\SQL\SSMS\SQL NBA analysis project\NBAdatacleaned.csv')
columns_to_keep = ['year_id', 'fran_id', 'avg_pts', 'avg_opp_pts', 'avg_elo_n', 'avg_opp_elo_n']
nba_df = nba_df[columns_to_keep]

# The Bulls will be our comparison team
# Format Bulls data

years_df = nba_df[(nba_df['year_id'].between(1995, 2015))]
bulls_df = years_df[(years_df['fran_id']=='Bulls')]
bulls_df = bulls_df.reset_index(drop=True)

display(HTML(bulls_df.head().to_html()))
print("Number of rows in the data set =", len(bulls_df))

Number of rows in the data set = 21

In [2]:
# Jazz is our team
# Format Jazz data

years_df = nba_df[(nba_df['year_id'].between(1995, 2015))]
jazz_df = years_df[(years_df['fran_id']=='Jazz')]
jazz_df = jazz_df.reset_index(drop=True)

display(HTML(jazz_df.head().to_html()))
print("Number of rows in the data set =", len(jazz_df))

Number of rows in the data set = 21

In [3]:
# Hypothesis Test for the Population Mean (I)

import scipy.stats as st

# Mean ELO of Jazz
jazz_mean_elo = jazz_df['avg_elo_n'].mean()
print("Mean ELO of Jazz in 1995 to 2015 =", round(jazz_mean_elo, 2))

# Hypothesis Test
# An ELO of 1420 is considered a critically low level and will be used for this calculation
test_stat, p_value = st.ttest_1samp(jazz_df['avg_elo_n'], 1420)

print("Hypothesis Test for the Population Mean")
print("Test Statistic =", round(test_stat, 2))
print("P-value =", round(p_value, 4))

Mean ELO of Jazz in 1995 to 2015 = 1562.36
Hypothesis Test for the Population Mean
Test Statistic = 7.82
P-value = 0.0

In [4]:
# Hypothesis Test for the Population Mean (II)

import scipy.stats as st

# Mean average points scored by Jazz
jazz_mean_pts = jazz_df['avg_pts'].mean()
print("Mean average points scored by Jazz in 1995 to 2015 =", round(jazz_mean_pts, 2))

# Hypothesis Test
# Averaging 110 points is considered a good level and will be used for this calculation
test_stat, p_value = st.ttest_1samp(jazz_df['avg_pts'], 110)

print("Hypothesis Test for the Population Mean Average Points Scored")
print("Test Statistic =", round(test_stat, 2))
print("P-value =", round(p_value, 4))

Mean average points scored by Jazz in 1995 to 2015 = 98.44
Hypothesis Test for the Population Mean Average Points Scored
Test Statistic = -10.84
P-value = 0.0

In [5]:
# Hypothesis Test for the Difference between Two Population Means

import scipy.stats as st

bulls_mean_elo = bulls_df['avg_elo_n'].mean()
print("Mean Average ELO of the Bulls in 1995 to 2015 =", round(bulls_mean_elo, 2))

jazz_mean_elo = jazz_df['avg_elo_n'].mean()
print("Mean Average ELO of Jazz in 1995 to 2015 =", round(jazz_mean_elo, 2))

# Hypothesis Test
test_stat, p_value = st.ttest_ind(bulls_df['avg_elo_n'], jazz_df['avg_elo_n'])

print("Hypothesis Test for the Difference between Two Population Means")
print("Test Statistic =", round(test_stat, 2))
print("P-value =", round(p_value, 4))

Mean Average ELO of the Bulls in 1995 to 2015 = 1511.75
Mean Average ELO of Jazz in 1995 to 2015 = 1562.36
Hypothesis Test for the Difference between Two Population Means
Test Statistic = -1.4
P-value = 0.1698